<!DOCTYPE html>
<html>
<head>
    <title>Lista de Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <a href="{% url 'crear_curso' %}">Crear nuevo curso</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Profesor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.id_profesor.nombre }}</td>
                    <td>
                        <a href="{% url 'actualizar_curso' curso.pk %}">Editar</a>
                        <a href="{% url 'eliminar_curso' curso.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>